<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <filter>
    <filter-name>CORSFilterServlet</filter-name>
    <filter-class>com.flope.servlets.CORSFilterServlet</filter-class>
</filter>
 
<filter-mapping>
    <filter-name>CORSFilterServlet</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<context-param> 
      <description>Location to store uploaded file</description> 
      <param-name>file-upload</param-name> 
      <param-value>
         C:\Users\Florian\Documents\NetBeansProjects\Anzeigeprojekt_Server_ver2\data
      </param-value> 
</context-param>

</web-app>
